include *.txt
include *.md
include *.py
recursive-include ./prediciton_model/*

include prediciton_model/datasets/*.csv
include prediciton_model/trained_models/*.pkl
include prediciton_model/processing/*.py
include prediciton_model/VERSION
include ./tests/*

recursive-exclude * __pycache__
recursive-exclude * *.py[co]